---
import CreateUserWorklog from "../components/Worklog";
---

<div class="new-worklog">
    <title>Create new worklog</title>
    <a href="/">Home</a>
    <h1>Create new worklog</h1>
    <CreateUserWorklog client:only="react" />
</div>