---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Worklog"
---
<style>
    a {
        display: block;
        text-align: left;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(180, 212, 240);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
</BaseLayout>

<!-- ---
import '../styles/login.css';
// import Loginapp from '../components/Test';
import CreateWorklogs from '../components/Test';
const pageTitle = "Test";
---

<style>
    a {
        display: block;
        text-align: left;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(180, 212, 240);
    }
</style>

<!-- <div class="login">
    <title>{pageTitle}</title>
    <a href="/">Home</a>
    <h1>{pageTitle}</h1>
    <Loginapp client:only="react" />
</div> -->

<!-- <div class='new-worklog'>
    <title>Create New Worklog</title>
    <a href="/">Home</a>
    <h1>Create New Worklog</h1>
    <CreateWorklogs client:only='react' />
</div> -->